* {
    margin: 0;
    padding: 0;
}

#generate {
    border: none;
    border-radius: 10px;
    color: white;
    width: 140px;
    height: 50px;
    background-color: rgb(37, 37, 192);

    &:hover {
        cursor: pointer;
    }
}

body {
    background-color: rgb(236, 236, 139);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.box {
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid;
    width: 460px;
    height: 170px;
}

#jokes {
    margin: auto;
}

.btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .box {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        border: 2px solid;
        width: 350px;
        font-size: 15px;
    }

    #jokes {
        margin: auto;
    }
}